[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/transmission-daemon -f
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target
